extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    title Import Result
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/path/to/your/css/file.css")
    script.
      // Redirect function to go to the detail page after 3 seconds
      function redirectToDetailPage() {
          setTimeout(function() {
              window.location.href = "/car_items/detail/" + "#{firstItemId}";
          }, 3000); // Redirect after 3 seconds
      }
  body
    .container
      if success
        h1 Import Successful!
        p= message
        script.
          redirectToDetailPage()
      else
        h1 Import Failed
        p= message